html, body {
    min-height: 100% !important;
    height: 100% !important;
    width: 100%;
}

:root {
    --height-150: 150px;
    --height-125: 125px;
    --height-100: 100px;
    --height-75: 75px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #131212;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    color: white;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}