html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background: #191414;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.spotify-color-green {
    color: #1DB954;
}

.spotify-color-white {
    color: #FFFFFF
}

.color-grey {
    color: #DEDEDE;
}

.home-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100vh;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow-y: overlay;
}