.sidebar {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: black;
    flex-shrink: 0;
    grid-area: sidebar;
}

.sidebar-spotify-logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.sidebar-titles {
    font-size: 12px;
    color: grey;
    padding-top: 0.5rem;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
}

.spotify-svg {
    display: block;
    height: 50px;
    width: 50px;
}

.nav-buttons {
    width: 100%;
    height: calc(100% - 166px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.nav-style {
    text-decoration: none;
    width: 100%;
}

.nav-style:hover {
    background-color: #070707;
}

.nav-active {
    background-color: #2d2d2d;
    text-decoration: none;
    width: 100%;
}

@media (max-width: 912px ) {
    .sidebar {
        flex-direction: row;
        width: 100%;
        max-height: 80px;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row;
        height: 80px;
        min-height: 80px;
    }
    .sidebar-spotify-logo {
        display: none;
    }
    .icon-holder {
        padding: 0;
    }
    .nav-style:hover {
        background-color: transparent;
    }
}