.sidebar {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: black;
}

.sidebar-spotify-logo {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar-titles {
    font-size: 12px;
    color: grey;
    gap: 3rem;
}

.icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.spotify-svg {
    display:block;
    height: 50px;
    width: 50px;
}

.nav-buttons {
    height: calc(100% - 166px);
}
