.songs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    color: white;
}

.songs-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.song-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.song-block {
    display: flex;
    gap: 1rem;
}

.header-rank {
    font-size: 100px;
    margin: 0;
    color: #1DB954;
}

.songs-ranked-image {
    height: 100px;
}

.songs-image {
    height: 50px;
    width: 50px;
}

.song-info {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

.song-artist {
    color: grey;
}

.song-time-length {
    color: grey;
}
